# Inferred from https://github.com/dolevf/Damn-Vulnerable-GraphQL-Application#docker-registry

services:
  dvga:
    image: "{{dvga_image}}"
    ports:
        - "127.0.0.1:{{dvga_host_port}}:5013"
    environment:
      - WEB_HOST=0.0.0.0