# Adapted from https://github.com/OWASP/railsgoat/blob/master/docker-compose.yml

services:
  railsgoat:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && rails db:setup && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/myapp
    ports:
      - "127.0.0.1:{{railsgoat_host_port}}:3000"
