# Adapted from https://github.com/digininja/DVWA/blob/master/compose.yml
volumes:
  dvwa:

networks:
  dvwa:

services:
  dvwa:
    build: .
    environment:
      - DB_SERVER=db
    depends_on:
      - db
    networks:
      - dvwa
    ports:
      - "127.0.0.1:{{dvwa_host_port}}:80"
    restart: unless-stopped

  db:
    image: docker.io/library/mariadb:10
    environment:
      - MYSQL_ROOT_PASSWORD=dvwa
      - MYSQL_DATABASE=dvwa
      - MYSQL_USER=dvwa
      - MYSQL_PASSWORD=p@ssw0rd
    volumes:
      - dvwa:/var/lib/mysql
    networks:
      - dvwa
    restart: unless-stopped