#!/bin/sh

docker-compose -f {{VAmPI_compose_file}} up -d
echo "Visit http://localhost:{{VAmPI_host_port_vuln}} (vulnerable) or http://localhost:{{VAmPI_host_port_secure}} (secure) to get started."
echo "Visit https://github.com/erev0s/VAmPI for the docs."