#!/bin/sh

docker-compose -f {{railsgoat_compose_file}} up -d
sleep 10
echo "Visit http://localhost:{{railsgoat_host_port}} to get started."
echo "Visit https://github.com/OWASP/railsgoat for the docs."