#!/bin/sh

docker-compose -f {{dvga_compose_file}} up -d
echo "Visit http://localhost:{{dvga_host_port}} to get started."
echo "Visit https://github.com/dolevf/Damn-Vulnerable-GraphQL-Application for the docs."