#!/bin/sh

docker-compose -f {{cicdgoat_compose_file}} up -d
sleep 10
echo "Visit http://localhost:8000 to get started."
echo "Visit https://github.com/cider-security-research/cicd-goat for the docs."