#!/bin/sh

docker-compose -f {{mutillidae_compose_file}} up -d
echo "Visit http://localhost:{{mutillidae_host_port_http}} to get started. Other Mutillidae ports:"
echo "\thttps://localhost:{{mutillidae_host_port_https}} (HTTPS, self-signed certificate)"
echo "\thttp://localhost:{{mutillidae_host_port_dbadmin}} (DB admin)"
echo "\thttp://localhost:{{mutillidae_host_port_ldap_admin}} (LDAP admin)"
echo "\tldap://localhost:{{mutillidae_host_port_ldap}} (LDAP)"
echo "Visit https://github.com/webpwnized/mutillidae for the docs."