#!/bin/sh

docker-compose -f {{shepherd_compose_file}} up -d
sleep 10
echo "Visit https://localhost:{{shepherd_host_port_https}} (HTTPS, self-signed certificate) or http://localhost:{{shepherd_host_port_http}} (HTTP) to get started."
echo "Visit https://github.com/OWASP/SecurityShepherd for the docs."