#!/bin/sh

docker-compose -f {{mutillidae_compose_file}} up -d
echo "Visit http://localhost:{{mutillidae_host_port_http}} to get started."
echo "Visit https://github.com/webpwnized/mutillidae for the docs."